.bgCover { position:fixed; left:0; top:0; display:none; overflow:hidden }
.list {
    font-size: 14px; font-family: Verdana, Geneva, sans-serif; color: #fff; line-height: 17px;
}

.text {
	text-align:left;
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	}

.pinkText { font-size: 14px; font-family: Verdana, Geneva, sans-serif; color: #FF6297; line-height: 17px; }

body {
	background-color: #000;
	overflow-y:hidden;
}

.heading {
	color: #FF6297;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
}

.imageSizing{
	border-radius:5px 5px 5px 5px;
	width:100%;
	height:auto;
	}
.imageSizing_div{
	margin:auto;
	width:95%;
	/*display:none;*/
}
.tinyImageSizing
{
	border-radius:5px 5px 5px 5px;
	width:8%;
	height:auto;
}


{
    border-style: solid;
	border-width: 1px;
    width:100%;
	border-color: #EA2466;

	}

.textArea
{
    border: 1px solid #EA2466;
	width:100%;
	resize: none;
}

.printDiv
{
    margin:auto;
    width:90%;
}

.messageBox {
    background-color:black;
    display:block;
    width:100%;
}

.toggleMessageLink {
    margin:auto;
    text-align:center
}

ul {
   list-style-type: none;
   font-size: 14px;
   text-indent: -9px;
   color: #fff;
}

ul.list>li:before
{
   content: "- ";
   text-indent: -9px;
}
