/*css file written by Renee Chia-Lei Chen*/

/*background*/
.bgCover {
    position:fixed; left:0; top:0; display:none; overflow:hidden

}
html {
    position: relative;
    min-height: 100%;
    font-family: Verdana, Geneva, sans-serif;
}
body {
    background-image: url(../_image/bg1.jpg);
    background-size: 250px 250px;
    text-align: center;
    background-color: #fff;
    background-attachment: fixed;
    overflow-y:scroll;
    margin: 0;
    padding: 0;
    border: 0;
    background-position: 0% center;
}

/*popup*/
.overlayBox {
  	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
 /*   background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}
.overlayContent {
	 height: 100%;
	 padding:0.6%;
}
.iframeRound{
	margin-right:auto;
	margin-left:auto;
	width:70%;
	height:95%;
	border-radius:5px 5px 5px 5px;
	border-style:hidden;
    background-color: rgba(0,0,0,1);
	}
#iframe
{	
    margin-top:1%;
	height: 95%;
	width:95%;
	border-style: none;
}
.closeLink {
    font-style: italic;
    color:#F69;
}

.launchLink { 
    font-size: 14px;
    color: #EA2466;
}

/*language link*/
.switchLanguage{
    font-size: 14px;
    color: #EA2466;
}

/*texts*/
.heading {
    text-align: center;
    color: #EA2466;
    font-size: 20px;
    line-height: 30px;
    cursor:default;
}

.text {
    color: #323232;
    font-size: 14px;
    line-height: 21px;
    cursor:default;
}
.pinkText {
    font-size:14px;
    color: #EA2466;
    line-height: 21px;
}

.midFont{ /*link fout size*/
    font-size:14px;
}

.topTable {
	background-color: #FFB8D0;
	width: 100%;
    z-index:1;
    position: relative;
    height: 44px;
  }

.name{ /*name in topTable*/
    display: table-cell;
    vertical-align:middle; line-height: 38px;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.links {  /*links in topTable*/
    display: table-cell;
    vertical-align:middle;
    line-height: 38px;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.footerTable { 
	background-color: #FFB8D0;
	width: 100%;
	border: 0px;
	bottom: 0px;
    position: absolute;
    height:44px;
 }
.footerDiv {
   line-height: 20px;
   width:100%;
   text-align:center;
   top:0;
}

.smallTable { /*bright inner table*/
	background-color: #fee5ee;
    background-color: rgba(254,229,238,1);
	text-align: center;
	width:70%;
    position:relative;
    bottom:0px;
    top:0;
	margin-left: auto;
	margin-right: auto;
    padding-bottom:60px;
  }


.floatingTable {
	border-radius:25px 25px 0px 0px;
	bottom:0%;
	display:block;
	left: auto;
	right: 10px;
	position:fixed;
	z-index:1;
	background-color: #fee5ee;
	text-align: right;
	width:auto;
    box-shadow: 1px 1px;
  }
td {
vertical-align:top;
}

.textBox /*small text boxes*/
{	
    text-align:left;
    margin-top:0;
	margin:auto;
	width:80%;
}
.textBox2
{
    padding-top:2%;
    padding-bottom:2%;
}

/*bioImages*/
.floatLeft
{
	float: left;
	margin: 0.5em;
	padding: 0.5em;
}
.floatRight {
    float: right;
    margin: 0.5em;
    padding: 0.5em;
}

/*js adds this when any blackboard is open*/
body.noscroll
{
	overflow-y:hidden;
	padding-right:17px;
}

/*standardized video sizing*/
.videoSizing {
    box-shadow: 0px 2px 5px #323232;
    width: 500px;
}
.gallImageSizing
{   
    box-shadow: 0px 2px 5px #323232;
    text-decoration:none;
	width:80%;
	height:auto;
    margin-bottom:6px;
}
.brightness{
    filter: brightness(50%);

} /*when mouseover the image*/

/*used for imageDescription.js*/
.image-wrapper {
    position: relative;
}
.image-wrapper span {
    position: absolute;
    display:block;
    left:0;
    top: 0;
    padding-left:120px;
    padding-top:20px;
    color: #FFF;
    text-shadow: 2px 2px #323232;
    font-size: 20px;
    pointer-events:none;
}
.pad {
padding-bottom:20px;
}@media only screen and (max-width: 320px) {

   body { font-size: 2em; }

}